:host {
    display: block;
    margin: 0 auto;
    max-width: 980px;
    padding: 8px;

    .options {
        padding: 12px 0px;

        .owner-and-repo {
            margin-bottom: 16px;
            display: flex;
            flex-wrap: wrap;

            mat-form-field {
                width: 40%;
                padding-right: 5px;
            }

            .button-container {
                padding-bottom: 1.3em;
                flex: 1;

                button {
                    height: 100%;
                    width: 100%;
                }
            }

            @media only screen and (max-width: 600px) {
                justify-content: space-around;
                mat-form-field {
                    width: 48%;
                    padding: 0;
                }
                .button-container {
                    text-align: center;
    
                    button {
                        max-width: 200px;
                    }
                }
            }
        }

        .example-full-width {
            width: 100%;
        }

        .radio-and-button {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        mat-radio-group {
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 240px;
        }
    }

    mat-card.issue-list {
        padding: 0;
    }

    .issue {
        border-bottom: 1px solid #ccc;
        display: flex;
        padding: 8px;

        &:last-child {
            border-bottom: none;
        }

        .state-icon-container {
            height: 16px;
            padding-right: 8px;
            padding-top: 2px;
            width: 16px;
        }

        .info {
            font-weight: 400;
            flex: 1;

            h4 {
                font-weight: 400;
                margin: 0;
                padding: 0;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                @media only screen and (max-width: 380px) {
                    max-width: 280px;
                    word-wrap: break-word;
                }
                
                @media only screen and (max-width: 320px) {
                   max-width: 260px;
                   word-wrap: break-word;
                }

            }

            p {
                color: #888;
                font-size: 12px;
                margin: 0;
                padding: 4px 0px 0px 0px;
            }
        }
        
    }


    .closed {
        color: #cb2431;
        fill: currentColor;
    }
    
    .open {
        color: #28a745;
        fill: currentColor;
    }

    mat-progress-bar {
        left: 0;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
}